.disc-head{
    /* background-color: aqua; */
    display: flex;
    gap: 350px;
    justify-content:space-around;
    box-shadow: 0px 1px 4px gray;
}
.Disc-data-parts{
    display: flex;  
    /* justify-content: left;  */
    /* background-color: blue; */
}
.second-detail-data{
   width: 30vw;
   position: relative;
   left: 350px;
}
.user-img-name {
    display: flex;
}
.Social-Icone-bar{
    display: flex;
}
.First-disc-data{
   
    /* height: 250px; */
    position: relative;
    top: 250px;
    left: 250px;
}


.MainDisc{
    display: block;
    justify-content: center;
    align-items: center;
}

/* -------------------MEDIA_QUERY------------------ */
@media screen and (min-width:200px) and (max-width:736px) {

       .Disc-data-parts{
         position: relative;
         left: -322px;
         justify-content: center;
       }
       .First-disc-data{
           display: none;
           visibility: hidden;
    }
    .second-detail-data{
        width: auto;
           
        }
    .Social-Icone-bar{
         flex-direction: column;

}
}
@media screen and (min-width:768px) and (max-width:1024px){

    .disc-head{
        /* background-color: aqua; */
        display: flex;
        /* gap: 350px; */
        justify-content:space-around;
        box-shadow: 0px 1px 4px gray;
    }
    .second-detail-data{
        width: 50vw;
        position: relative;
        left: 100px;
        text-align: center;
     }
     .First-disc-data{
   
        /* height: 250px; */
        position: relative;
         top: 50px;
        left: 50px; 
    }
    .Disc-data-parts{
        display: flex;  
        justify-content: left; 
        /* background-color: blue; */
    }
}