/* ------------------Universal----------------- */
body{
    margin: 5px;
    padding: 0px;
    background-color: black;
   color: red;
}


/* ----------------HOME-JUNCTION---------------- */

.home-first{
   display: flex;
   /* background-color: rgb(223, 241, 235); */
   justify-content: space-evenly;
   background-color: black;
   color: red;
   /* height: ; */
  
   
}
.the-latest-area{
    background-color: black;
   color: red;

}
/* .left-section{
    width:40%;
    height: auto;
    border-radius: 2px;
} */
.left-part-home{
    width: max-content;
    height: 520px;
    height: fit-content;
    /* flex: auto; */
    /* border: 3px solid blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    color: white;
}
.one{ 
    position: absolute;
    left: 46px;
    bottom: 80px;
    color: white;
    font-size: 1.2rem;
}
.right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
    color: white;
}

.right-part-home{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    color: white;
}
.two{ 
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
    font-size: 1rem;
}

.three{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
    font-size: 1rem;
}


.section-head{
    display: flex;
    justify-content: space-between;
    color: white;
}
/* ----------------Bollywood-data-------------- */
.hr-line{
    border: 2px solid red;
    width: 8vw;
}
.Uni-data{
    width: 40vw;
    /* display: flex;
    flex-direction: row; */
    /* box-shadow: 0px 0px 2px black; */
}
.link-data{
    /* color: black; */
    color: white;
}
.whole-data{
    display: flex;
    color: white;
}
.subhead-data{
    color: rgb(164, 189, 190);
    font-weight: 700;
}

.main-data{
    display: flex;
    justify-content: space-between;
    color: white;
}




/* --------------------MEDIA-SCREEN------------------ */
@media screen and (min-width:200px) and (max-width:736px) {

/* ------------------- -Home-section-------------------*/
    .home-first{
       
        flex-direction: column;
        /* background-color: rgb(223, 241, 235); */
        /* justify-content: center;   */
     }
     .left-section{
        width:auto;
        height: auto;
    }
    .right-section{
        width: auto;
        height: auto;
        flex-direction: column;
    }
    .section-head{
        display: flex;
        flex-direction: column;
    }

    .left-part-home{
        width: 100%;
    }
    .right-part-home{
        width: 100%;
    }
    .right-part-home img{
     width: 90vw;

    }
    .Uni-data{
        margin: 0px;
    }
/*------------------------ Bollywood-data--------------- */
    .whole-data{
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
    .Uni-data{
        width: auto;
       
    }
    .main-data{
        display: flex;
        flex-direction:column;
 
    }
    .secondtext > h5{
        display: none;
    }

}

@media screen and (min-width:768px) and (max-width:1024px) {
    .whole-data{
      display: block;
    }
    .left-section{
        width: 100%;
    }
    .right-section{
        display: none;
    }
    

}


.bigboy{
    height: 1100px;
    width: 70%;
}
.badiyaimage{
    height: 24%;
    width: 70%;
    padding: 10px;
}
.Right-child{
    position: sticky;
}


.firstImage{
    position: relative;
    justify-content: center;
    color: black;
}
.firstImage > img{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0.5));
    border-radius: 30px;
    
}
.secondImage{
    position: relative;
    justify-content: center;
}
.secondImage> img{
    border-radius: 30px;
}

.thirdImage{
    position: relative;
    justify-content: center;
}
.thirdImage > img{
    border-radius: 30px;
}
.fourthImage{
    position: relative;
    justify-content: center;
}
.fourthImage> img{
    border-radius: 30px;
}
.secondtext{
    position: absolute;
    top: 25%;
    color: white;
    padding: 20px;

}

.okay {
    display: flex;
}
.manny{
    display: flex;
}