@media screen and (min-width:200px) and (max-width:736px){
    .dattaa{
       display: block;
       width: auto;
       justify-content: center;
    }
}


.storiesss{
    box-shadow: 0px 0px 2px black;
   
}