/* .display-latest{
    /* display:flex;
    flex-direction: row; */
    
/* } */ 
.dattaa{
    display: flex;
    background-color: black;
    color: red;
}
.Uni-data{
    width: 30vw;
}
@media screen and (min-width:200px) and (max-width:736px){
    .dattaa{
       width: 80%;
       display: flex;
       flex-direction: column;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
    }
    .the-latest-area{
        display: flex;
        flex-direction: column;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .subhead-data{
        display: none;
    }
    .left-child{
        display: flex;
        flex-direction: column;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .hatao-home{
        display: none;
    }
    .Right-child{
        display: flex;
        flex-direction: column;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .centre-all{
        display: flex;
        flex-direction: column;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .Stories{
        display: flex;
        flex-direction: column;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
   
    
}
@media screen and (min-width:768px) and (max-width:1024px){
    .Uni-data{
        width: 100%;
    }
.head-subhead{
    text-align: center;
    text-shadow: none;
}
.centre-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Advertisements{
    
   display: flex;
   flex-direction: row;
}

#jih{
    display: none;
}

}