.advertise{
    width: 30vw;
    height: 450px ;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    justify-content: center;
    text-align: center;
    margin: 35px;


.adimage{
height: 100%;
width: 100%;
}
.adone > img{
  height: 100%;
  width: 100%;
}


}
@media screen and (min-width:200px) and (max-width:736px) {
  .advertise{
    width:auto;
    margin: auto;
  }
  .advertise h1{
    width: auto;
  }
}
