.advertise{
    width: 30vw;
    height: 450px ;
    color: black;
    background-color: rgb(242, 8, 8);
    justify-content: center;
    text-align: center;
    margin: 35px;

}
@media screen and (min-width:200px) and (max-width:736px) {
  .advertise{
    width:auto;
    margin: auto;
  }
  .advertise h1{
    width: auto;
  }
}
